LOG_DIR=./logs
CONNECTION_STRING=sqlite:///./todos.db
MYSQL_HOST=localhost
MSSQL_HOST=localhost
PGSQL_HOST=localhost

MYSQL_DB=todo
MSSQL_DB=todo
PGSQL_DB=todo

MYSQL_PORT=3306
MSSQL_PORT=1433
PGSQL_PORT=5432

MYSQL_PASSWORD=changeme
PGSQL_PASSWORD=changeme
MSSQL_PASSWORD=changeme
